certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
decorator==5.1.1
Deprecated==1.2.13
deprecation==2.1.0
idna==2.10
importlib-metadata==1.7.0
mashumaro==1.24
msgpack==1.0.3
packaging==21.3
poetry-version==0.1.5
py==1.11.0
PyGithub==1.47
PyJWT==2.3.0
pyparsing==3.0.8
pysnyk==0.6.1
PyYAML==6.0
requests==2.25.0
retry==0.9.2
six==1.16.0
tomlkit==0.5.11
typing_extensions==4.2.0
urllib3==1.26.5
wrapt==1.14.1
zipp==3.8.0
